node_modules/
.idea/
config.json
#pool_configs/*.json
!pool_configs/zclassic_example.json
/nbproject/private/
nbproject/project.properties
nbproject/project.xml
/.vs/config/applicationhost.config
/.vs/z-nomp-achievecoin/v15/.suo
/.vs/slnx.sqlite
